@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.nav-link {
    font-family: 'Russo One', sans-serif;
    background-color: rgba(240, 255, 255, 0.161);
    padding: 5px;
}

.MPLogo {
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.greenLogoColor {
    color: #00FF89;
}

button.greenLogoColor {
    color: #00FF89;
    border: 2px solid #00FF89;
    border-radius: 25px;
    padding: 14px;
    font-weight: bold;
    background: none;
}

.greenLogoColor:hover {
    color: #02894a;
}

@media (min-width: 576px) {
    .customHeigth {
        min-height: 100vh;
    }
}


@media (max-width: 575px) {
    .customHeigth {
        max-height: 12vh;
    }

    .MPLogo {
        max-width: 9vh;
    }
}